.productContainer {
    overflow: auto;
    z-index: 1;
    /* border: solid; */

    /* margin-top: calc(16px + 1em);
    margin-bottom: calc(16px + 3em); */
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

    /* This CSS don't change rows */
    /* display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch; */
    grid-row: 4;
    grid-gap: 30px;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.productAndSortItem {
    display: flex;
    padding-top: 10px;
}

.columnOne {
    flex: 90%;
    padding: 10px;
    height: 50px;
}

.modalContainer {
    padding-top: 50px;
}

.columnTwo {
    flex: 10%;
    padding: 10px;
    height: 50px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.loadMoreButton {
    color: white;
    background-color: rgb(70, 70, 128);
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 15px;
}

.loadMoreButton:hover {
    background-color: rgb(66, 143, 99);
}

.noMoreProduct {
    color: #212429;
    text-align: center;
    border: none;
    font-weight: bold;
    width: 300px;
    height: 30px;
}

.message {
    position: fixed;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}