.container {
    z-index: 1;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.container .itemsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.container .itemsWrapper .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    row-gap: 50px;
    padding-bottom: 10px;

    border-bottom: 1px solid black;
}

@media (max-width: 600px) {
    .container .itemsWrapper {
        margin: 0 auto;
        /* align-items:start; */
        /* padding-left: 15px; */
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.productAndSortItem {
    display: flex;
    padding-top: 10px;
}

.columnOne {
    flex: 90%;
    padding: 10px;
    height: 50px;
}

.modalContainer {
    padding-top: 50px;
}

.columnTwo {
    flex: 10%;
    padding: 10px;
    height: 50px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.loadMoreButton {
    color: white;
    background-color: rgb(70, 70, 128);
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 15px;
}

.loadMoreButton:hover {
    background-color: rgb(66, 143, 99);
}

.noMoreProduct {
    color: #212429;
    text-align: center;
    border: none;
    font-weight: bold;
    width: 300px;
    height: 30px;
}

.message {
    position: fixed;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}