.containerMobileNav {
    position: absolute;
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    top: 1;
    right: 3%;
    border-radius: 10px;
    background-color: rgb(195, 196, 198);
    z-index: 5;
}

.containerMobileNav .mobileNavigationLink {
    text-decoration: none;
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(174, 174, 174);
}

.containerMobileNav .mobileNavigationLink:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.containerMobileNav .mobileNavigationLinkButton {
    all: unset;
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    color: rgb(8, 8, 8);
}

.containerMobileNav .mobileUserName {
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    color: #66559e;
}

.closeMobileNavBottom {
    font-size: 20px;
}