.loginInformation {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
    color: #d8d9dc;
}

@media (max-width: 600px) {
    .loginInformation {
        width: 80%;
    }
}