.container {
    width: 100%;
    min-height: 780px;
    background-color: rgba(107, 208, 231, 0.313);
}

.innerContainer {
    width: 70%;
    margin: auto;
}

.headerOrder {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}

.dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 516px;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: white;
    color: rgb(2, 2, 2);
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    border: solid;
    border-color: #9fb3b4;
}


.formTopField {
    width: 100%;
    height: 50px;
    background-color: #51b9bc;
    margin-bottom: 10px;
}

.topFieldTitle {
    display: flex;
    margin: auto;
    width: 76%;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 100%;
        min-height: 683px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container .innerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #F2F3F5;
        text-align: center;
        border-radius: 0px;
    }

    .container .innerContainer .dataContainer {
        width: 100%;
        border: none;
        margin-bottom: 0px;
    }

    .container .innerContainer .dataContainer .formTopField {
        width: 100%;
    }
}