.container {
    width: 1100px;
    margin: 0 auto
}

.container .columns3 {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1200px;

    /* width: 100%;
    display: flex; */
}

/* .columns3>* {
    width: calc(100% / 1);
} */

/* Left Column */
.container .columns3 .columnsLeft {
    width: 230px;
    height: 720px;
    flex: 0 0 130px;
    /* border: solid; */

    display: flex;
    text-align: center;
    justify-content: center;

    /* flex-direction: column;
    flex-wrap: wrap; */
}

.container .columns3 .columnsLeft .leftImages {
    margin-top: 10px;
}

.bgPink {
    margin-top: 30px;
    /* padding-top: 10px; */
    background-color: rgb(216, 216, 216);
    /* background-color: pink; */
    width: 100px;
    height: 120px;
}

.otherPictures {
    border: solid;
    border-width: thin;
    border-color: rgb(216, 216, 216);
    width: 100px;
    height: 120px;
}

.otherPictures:hover {
    opacity: 0.5;
    /* border: solid; */
    cursor: pointer;
}

/* Left Column */

/* Middle Column */
.container .columns3 .columnsCenter {
    width: 530px;
    height: 720px;
    border: 3px solid #eee;

    /* border-left: 1px solid #eee;
    border-width: thin; */
}

.container .columns3 .columnsCenter .bgOrange {
    background-color: orange;
}

.container .columns3 .columnsCenter .bgOrange .leftBox {
    float: left;
    /* background: Red; */
    margin-top: 50%;
    width: 10%;
    height: 100px;
}

.container .columns3 .columnsCenter .bgOrange .leftBox .changeImageButtonBack {
    width: 44px;
    height: 44px;
    margin-left: 5px;
    border: 1.5px solid;
    border-color: rgb(236, 97, 97);
    background-color: transparent;
    color: rgb(236, 97, 97);
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.container .columns3 .columnsCenter .bgOrange .leftBox .changeImageButtonBack:hover {
    background-color: rgb(236, 97, 97);
    color: white;
}

.container .columns3 .columnsCenter .bgOrange .middleBox {
    float: left;
    /* background: Green; */
    margin-top: 10%;
    /* width: 80%;
    height: 280px; */
}

.container .columns3 .columnsCenter .bgOrange .middleBox .mainImage {
    width: 400px;
    height: 600px;
}

.container .columns3 .columnsCenter .bgOrange .rigthBox {
    float: right;
    /* background: blue; */
    margin-top: 50%;
    width: 10%;
    height: 100px;
    text-align: right;
}

.container .columns3 .columnsCenter .bgOrange .rigthBox .changeImageButtonPrev {
    width: 44px;
    height: 44px;
    margin-right: 5px;
    border: 1.5px solid;
    border-color: rgb(236, 97, 97);
    background-color: transparent;
    color: rgb(236, 97, 97);
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.container .columns3 .columnsCenter .bgOrange .rigthBox .changeImageButtonPrev:hover {
    background-color: rgb(236, 97, 97);
    color: white;
}


/* Middle Column */

/* Right Column */
.container .columns3 .columnsRight {
    width: 330px;
    height: auto;
    flex: 0 0 330px;
    background-color: #EDEDED;
    /* border: solid; */
}

.container .columns3 .columnsRight .bgRed {
    font-family: 'Assistant', sans-serif;
    /* background-color: rgb(243, 238, 238); */
}

.container .columns3 .columnsRight .bgRed .rightColumnArticle {
    font-size: 13px;
}

/* Right Column */