.mainRight {
    display: flex;
    text-align: right;
    justify-content: right;
    margin-top: 10px;
}

.basketMain {
    display: flex;
    text-align: center;
    width: 15px;
    padding-right: 10px;
    color: white;
}

.innerBascketOne {
    flex: 50%;
    cursor: pointer;
}

.bascketLogo {
    width: 36px;
    height: 36px;
    transition: 0.3;
}

.bascketLogo:hover {
    color: rgb(140, 47, 47);
}

.innerBascketTwo {
    flex: 50%;
    padding-top: 6px;
}

@media screen and (max-width: 600px) {
    .mainRight .basketMain .innerBascketOne .bascketLogo {
        width: 25px;
        height: 25px;
    }
}