.buttonWrapper {
    display: inline;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.buttonWrapper button {
    all: unset;
    color: rgb(112, 218, 234);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
}

.buttonWrapper button:hover {
    color: rgb(78, 157, 169);
}