.purchaseRow {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(179, 175, 184);
    border-radius: 10px;
    margin-top: 5px;
    color: white;

    /* border: solid; */
}

.purchaseImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.purchaseTitle {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;

    /* border: solid;
    border-color: red; */
}

.purchaseQuantity {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;

    /* border: solid;
    border-color: red; */
}

.multiplySign {
    display: flex;
    width: 5%;
    align-items: center;
    justify-content: center;
}

.purchasePrice {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;

    /* border: solid;
    border-color: red; */
}

.priceValue {
    margin-left: 3px;
    color: black;
}

.finalPrice {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.deletePurchase {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;

    /* border: solid;
    border-color: red; */
}

.deletePurchase>button {
    border: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .purchaseRow {
        height: 70px;
        font-size: 15px;
    }
    .purchaseImage {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
    }

    .purchaseTitle {
        display: flex;
        width: 15%;
        margin-right: 3px;
    }

    .purchaseQuantity {
        display: flex;
        width: 10%;
        margin-right: 3px;
    }

    .multiplySign {
        display: flex;
        width: 5%;
        margin-right: 3px;
    }
    
    .purchasePrice {
        display: flex;
        width: 20%;
        margin-left: 3px;
    }

    .priceValue {
        width: auto;
        display: flex;
        color: black;
    }

    .finalPrice {
        display: flex;
        width: 20%;
        margin-left: 3px;
    }
    
    .deletePurchase {
        display: flex;
        width: 10%;
        margin-right: 3px;
    }
}