.article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.article:hover {
    cursor: pointer;
}

.article img {
    max-width: 96%;
}

.grid .text {
    padding: 20px;
}

.article>div {
    text-align: center;
}

.image>img {
    border: solid;
    border-width: thin;
    width: 400px;
    height: 410px;
}

.title>button {
    width: 120px;
    background-color: rgb(33, 105, 134);
    color: white;
    border: none;
    margin-bottom: 5px;
    border-radius: 12px;
}

.title>button:hover {
    background-color: rgb(136, 196, 27);
}

.price {
    padding-top: 10px;
}

.star {
    margin-bottom: 10px;
}