.container {
    width: 100%;
    min-height: 780px;
    background-color: rgba(107, 208, 231, 0.313);
}

.innerContainer {
    width: 70%;
    margin: auto;
}





.headerOrder {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}

.orderContainer {
    color: rgb(2, 2, 2);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}


.purchaseRow {
    height: 150px;
    display: flex;
    background-color: rgba(38, 165, 87, 0.263);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.purchaseImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.purchaseTitle {
    display: flex;
    color: black;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.emptyList {
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 100%;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container .innerContainer {
        display: flex;
        flex-direction: column;
        width: 360px;
        color: #F2F3F5;
        text-align: center;
        border-radius: 0px;
    }
}