.container {
    display: flex;
    width: 100%;
    height: 72px;
    background-color: rgb(11, 1, 38);
}

.container .logoContainer {
    flex: 1;

    /* border: solid;
    border-color: red; */
}

.container .logoContainer {
    display: flex;
    /* justify-content: center; */
    color: white;
    box-sizing: border-box;
}

.container .logoContainer .navigationLinkLogo .logoContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-top: 6px;

    /* border: solid white; */
}

.navigation:nth-last-child(2) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}


.logoContainer>h1 {
    font-weight: bold;
}

.logoContainer>h2 {
    color: rgb(108, 197, 210);
    font-weight: bold;
}

.container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    position: relative;
    overflow: hidden;

    /* border: solid white; */
}

.container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper::after {
    content: '';
    position: absolute;
    background-color: rgb(11, 1, 38);
    /* background: #0e1538; */
    inset: 1px;
    border-radius: 10px;
}

.container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper::before {
    content: '';
    position: absolute;
    width: 172px;
    height: 50px;
    /* margin-bottom: 6px;
    margin-right: 20px; */
    background: linear-gradient(rgb(108, 197, 210), #a25dae);
    /* background: linear-gradient(#00ccff, #d500f9); */
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper .logo {
    width: 50px;
    z-index: 2;
}

.container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper .textLogo {
    color: #88BED8;
    margin-left: 10px;
    font-family: 'Playpen Sans', cursive;
    z-index: 2;
}

.container .navigation .navigationChild {
    padding-top: 20px;
    font-family: 'Playpen Sans', cursive;
}

.container .navigation .navigationLink {
    padding-top: 20px;
    color: white;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.container .navigation .navigationLink:hover {
    color: #88BED8;
    /* color: rgb(184, 205, 115); */
}

.navigationLinkButton {
    all: unset;
    color: white;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.navigationLinkButton:hover {
    color: #88BED8;
}



.navigationLinkLogo {
    text-decoration: none;
}

.userName {
    color: white;
}


/* Basket */
.container .basket {
    display: flex;
    text-align: center;
    align-items: center;
}

.container .basket .basketWrapper {
    width: 30px;
    margin: 0 auto;
    margin-right: 30px;

    /* border: solid white; */
}

.container .basket .mobileNavigation {
    display: none;
    width: 50%;
}

.container .basket .mobileNavigation>button {
    all: unset;
}

.container .basket .mobileNavigation .mobileIcon {
    font-size: 28px;
    cursor: pointer;
}

.container .basket .mobileNavigation .containerMobileNav {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    top: 1;
    right: 0;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(195, 196, 198);
}

.container .basket .mobileNavigation .containerMobileNav .mobileNavigationLink {
    text-decoration: none;
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    color: rgb(8, 8, 8);
}

.container .basket .mobileNavigation .containerMobileNav .mobileNavigationLinkButton {
    all: unset;
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    color: rgb(8, 8, 8);
}

.container .basket .mobileNavigation .containerMobileNav .mobileUserName {
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    color: #66559e;
}

.container .basket .mobileNavigation .closeMobileNavBottom {
    font-size: 20px;
    /* padding-bottom: 10px; */
    /* border:  solid white; */
}


/* Extra small devices /phone, smartwatch and other smart devices */
@media screen and (max-width: 600px) {
    .container {
        height: 54px;
    }

    .container .logoContainer {
        margin-top: -1px;
    }

    .container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper .logo {
        width: 30px;
        /* height: 50px; */
        /* margin-top: 10px; */
    }

    .container .logoContainer .navigationLinkLogo .logoContainer .logoWrapper .textLogo {
        font-size: 13px;
    }

    .container .navigation .navigationChild {
        display: none;
        padding-top: 12px;
    }

    .container .navigation .navigationChild .navigationLink {
        font-size: 13px;
    }

    .container .basket .mobileNavigation {
        display: inline;
        padding-top: 10px;
    }

    .container .basket .basketWrapper {
        margin-right: 10px;
    }
}

/* Small devices / portrait tablet, large phone */
@media screen and (min-width: 600px) {}

/* Medium devices / horizontal tablet, small laptop */
@media screen and (min-width: 768px) {}

/* Large devices / desktop laptop */
@media screen and (min-width: 992px) {
    .container {
        height: 70px;
    }

}

/* Extra large devices / desctop, large laptop, tv */
@media screen and (min-width: 1200px) {}




/* @media screen and (max-width: 900px) {
    .container {
        height: 60px;
    }
} */

/* @media screen and (max-width: 600px) {
    .container {
        height: 50px;
    }

    .container {
        margin-top: -5px;
    }

    .navigationChild {
        padding-top: 12px;
    }

    .navigationLink {
        font-size: 13px;
    }

    .logo {
        width: 30px;
        margin-top: 10px;
    }
} */