.container {
    display: flex;
    max-width: 100%;
    height: 72px;
    background-color: rgb(11, 1, 38);
}

.userName {
    color: white;
}

/* Basket */
.container .authIconWrapper {
    display: flex;
    text-align: center;
    align-items: center;
}

.container .authIconWrapper .profileWrapper {
    display: flex;
    text-align: center;
    align-items: center;
    height: 47px;
    padding-right: 10px;
    padding-top: 5px;
}

.container .authIconWrapper .profileIcon {
    font-size: 28px;
    color: rgb(55, 159, 86);
    transition: 0.3s;
    cursor: pointer;
}

.container .authIconWrapper .profileIcon:hover {
    color: rgb(34, 225, 101);
}

.container .authIconWrapper .basketWrapper {
    width: 30px;
    margin: 0 auto;
    margin-right: 30px;
}

.container .authIconWrapper .mobileNavigation {
    display: none;
    width: 50%;
}

.container .authIconWrapper .mobileNavigation>button {
    all: unset;
}

.container .authIconWrapper .mobileNavigation .mobileIcon {
    font-size: 28px;
    cursor: pointer;
}

/* Extra small devices /phone, smartwatch and other smart devices */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        height: 54px;
    }

    .container .authIconWrapper .mobileNavigation {
        display: inline;
        padding-top: 10px;
    }

    .container .authIconWrapper .basketWrapper {
        margin-right: 10px;
    }
}

/* Small devices / portrait tablet, large phone */
@media screen and (min-width: 600px) {}

/* Medium devices / horizontal tablet, small laptop */
@media screen and (min-width: 768px) {}

/* Large devices / desktop laptop */
@media screen and (min-width: 992px) {
    .container {
        height: 70px;
    }

}

/* Extra large devices / desctop, large laptop, tv */
@media screen and (min-width: 1200px) {}