@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Alfa+Slab+One&family=Bebas+Neue&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.chatFieldContainer {
    position: absolute;
    width: 300px;
    height: 500px;
    bottom: 0;
    right: 0;
    margin-bottom: 73px;
    background: linear-gradient(rgb(206, 229, 255), rgb(236, 245, 255));
    border-radius: 10px;
    /* border: 1px solid #195B7F; */
}

.chatFieldContainer .closeButton {
    position: absolute;
    top: 0;
    right: 3%;
    font-weight: bold;
    cursor: pointer;
}

.chatFieldContainer .closeButton:hover {
    color: #114764;
}

.chatFieldContainer .chatMenuWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #195B7F;
    background: linear-gradient(#6099b8, #6EBBBA);
    color: #ffffff;
    font-family: Indie Flower, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.chatFieldContainer .chatClientData {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #114764;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 210px;

}

.chatFieldContainer .chatClientData h3 {
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.chatFieldContainer .chatClientData form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.chatFieldContainer .chatClientData form [name="room"] {
    color: rgb(20, 31, 94);
    background-color: aliceblue;
    font-size: 15px;
}

.chatFieldContainer .chatClientData form [name="username"] {
    color: rgb(20, 31, 94);
    background-color: aliceblue;
    font-size: 15px;
}

.chatFieldContainer .chatClientData form [name="submit"] {
    all: unset;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.chatFieldContainer .chatClientData form [name="submit"]:hover {
    color: rgb(10, 36, 90);
    background-color: aliceblue;
}

.chatFieldContainer .chatClientData form [name="submit"]:disabled {
    all: unset;
    background-color:rgb(142, 136, 147);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: no-drop;
    font-weight: bold;
    transition: 0.3s;
}

.chatFieldContainer .chatClientData .chatFieldContainer .messageContent {
    display: inline-block;
    background-color: rgb(230, 230, 230);
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 10px;
}

.chatFieldContainer .inputWrapper {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.chatFieldContainer .inputWrapper form {
    width: 97%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 10px;
    /* border-top: 1.5px solid #afb3b5; */
    border: 1.5px solid #afb3b5;
    padding-top: 5px;
}

.chatFieldContainer .inputWrapper form input {
    width: 80%;
    background-color: transparent;
}

.chatFieldContainer .inputWrapper form input::placeholder {
    font-size: 13px;
}

.chatFieldContainer .inputWrapper form .submitWrapper {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(17, 73, 137), rgb(96, 117, 142));
    border-radius: 50px;
    cursor: pointer;
}

.chatFieldContainer .inputWrapper form .submitWrapper .submitIcon {
    font-size: 23px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}