.popup {
    background-color: #2c2d31;
    /* background-color: #cca3a3; */
    box-shadow: 1px 1px 10px #2c2d31;
    color: rgb(255, 255, 255);
    width: 450px;
    padding: 10px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 400px) {
    .popup {
        width: 100%;
    }
}

/* @media(min-width:768px) {
    .popup {
        float: left;
        width: 30%;
        margin-right: 5px;
    }
} */

.container {
    padding-bottom: 5px;
}

.closeButton {
    display: block;
    margin: 0 0 1px auto;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2 {
    text-align: center;
}

.paragraphCookie {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.buttonWrapper .letsGoButton {
    width: 150px;
    position: relative;
    margin: auto;
    padding: 5px 0;
    text-decoration: none;
    background-color: #0f72e5;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.letsGoButton:hover {
    background-color: #18579f;
}