.container {
    width: 100%;
    background-color: rgba(107, 208, 231, 0.313);
    ;
}

.innerContainer {
    width: 70%;
    margin: auto;
}

.headerOrder {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}

.dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 516px;
    height: 100%;
    /* height: 1311px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: white;
    color: rgb(2, 2, 2);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 10px; */

    border: solid;
    border-color: #9fb3b4;
}

span {
    color: rgb(223, 60, 60);
}

.formTopField {
    width: 100%;
    height: 50px;
    background-color: #51b9bc;

    margin-bottom: 10px;

    /* border: solid; */
}

.topFieldTitle {
    display: flex;
    margin: auto;
    width: 76%;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;

    /* border: solid; */
}

.firstAndLastName {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: auto;
    width: 400px;
    color: #51b9bc;

    /* border: solid; */
}

.innerDivDataOrderName {
    text-align: left;

    /* border: solid; */
}

.mainShipping {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: auto;
    width: 300px;
    color: #1b1d1e;

    /* border: solid;
    border-color: red; */
}

.innerDivShippingOne, .innerDivOffice {
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: auto;

    /* border: solid; */
}

.innerDivShippingTwo {
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: auto;

    /* border: solid; */
}

.innerShippingType {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}

.logoShipping {
    width: 50%;
    margin: auto;

    /* border: solid; */
}

.logoShipping>img {
    width: 50px;
}


.innerDivDataOrder {
    margin: auto;
    width: 400px;
    flex: 0 0 50px;
    color: #51b9bc;
    font-size: 16px;
    text-align: left;

    /* border: solid; */
}

input[type='first'],
[type='last'] {
    width: 180px;
    height: 29px;
    margin-bottom: 10px;
    background-color: #d9dcdf;
    border: none;
    caret-color: rgb(6, 188, 248);
}

input[type='email'],
[type='phone'],
[type='city'],
[type='post-code'],
[type='address'] {
    width: 382px;
    height: 29px;
    margin-bottom: 10px;
    background-color: #d9dcdf;
    border: none;
    caret-color: rgb(6, 188, 248);
}

textarea {
    width: 382px;
    height: 80px;
    max-width: 382px;
    min-width: 382px;
    max-height: 180px;
    margin-bottom: 10px;
    background-color: #d9dcdf;
    border: none;
    caret-color: rgb(6, 188, 248);
}

input[type='radio']::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #9eeb9c;
    content:''; */
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(255, 255, 255);
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #6b4b4b;
    /* background-color: #51b9bc; */
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(2, 2, 2, 0.769);
}

.choosePaymentMehod {
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(12, 11, 12);
}

.innerDivPayment {
    display: flex;
    margin: auto;
    background-color: rgba(65, 194, 164, 0.509);
    width: 282px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;


    border: 1px solid rgb(199, 191, 191);
}

.innerDivPayment>label {
    width: 10%;
    margin: auto;
    font-size: 15px;

    /* border: solid; */
}

.innerPaymentType {
    width: 30%;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: auto;

    /* border: solid;
    border-radius: 10px; */
}

.logoPayment {
    width: 60%;
    /* margin: auto; */

    /* border: solid;
    border-radius: 10px; */
}

.tick {
    opacity: 0.8;
    width: 23px;
    height: 23px;
    /* border: solid; */
}

/* .emptyCircleButton {
    width: 25px;
    height: 25px;
    border: solid;
    border-radius: 55px;
    background-color: rgb(249, 248, 151);
} */

.logoPayment>img {
    /* margin: auto; */
    height: 80px;
}

.privaciPolicy {
    display: flex;
    align-items: center;
    margin: auto;
    width: 282px;
    height: 60px;
    margin-bottom: 10px;

    /* border: solid; */
}

.checkbox {
    width: 8.3%;
    height: 23px;
    margin: auto;
    background-color: rgba(174, 188, 185, 0.655);
    /* background-color: rgba(65, 194, 164, 0.509); */
    cursor: pointer;
}

.textPolicy {
    width: 90%;
    margin: auto;
    font-size: 11px;
    font-weight: 600;

    /* border: solid; */
}

.buttonsNextBack {
    display: flex;
    width: 100%;
    height: 50px;
    /* border: solid; */
}

.next {
    width: 50%;
    display: flex;
    margin: auto;
    margin-left: 10px;
    /* align-items: center; */
    justify-content: space-between;

    /* border: solid; */
}

/* Next Button */
.bottomButtons {
    display: flex;
    margin-bottom: 10px;
    /* border: solid; */
}

.nextStep {
    text-align: center;
    justify-content: center;
    width: 100%;

    /* border: solid; */
}

.nextButton {
    width: 120px;
    height: 30px;
    background-color: rgba(17, 162, 104, 0.836);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.nextButton:hover {
    background-color: rgb(13, 135, 86);
    cursor: pointer;
}

.nextButtonDisabled {
    width: 120px;
    height: 30px;
    background-color: rgba(58, 66, 63, 0.836);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: no-drop;
}

/* Next Button */

.back {
    width: 50%;
    display: flex;
    margin: auto;
    margin-right: 10px;
    /* align-items: center; */
    justify-content: end;

    /* border: solid; */
}