.container {
    width: 100%;
    min-height: 1510px;
    background-color: rgba(107, 208, 231, 0.313);
}

.innerContainer {
    width: 70%;
    margin: 0 auto;
}

.headerOrder {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}

.dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 516px;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: white;
    color: rgb(2, 2, 2);
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    border: solid;
    border-color: #9fb3b4;
}

span {
    color: rgb(223, 60, 60);
}

.formTopField {
    width: 100%;
    height: 50px;
    background-color: #51b9bc;

    margin-bottom: 10px;
}

.topFieldTitle {
    display: flex;
    margin: 0 auto;
    width: 76%;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.firstAndLastName {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 0 auto;
    width: 400px;
    color: #51b9bc;
}

.innerDivDataOrderName {
    text-align: left;
}

.mainShipping {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: auto;
    width: 300px;
    color: #1b1d1e;
}

.innerDivShippingOne,
.innerDivOffice {
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}

.innerDivShippingTwo {
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}

.innerShippingType {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}

.logoShipping {
    width: 50%;
    margin: auto;
}

.logoShipping>img {
    width: 50px;
}


.innerDivDataOrder {
    margin: auto;
    width: 400px;
    flex: 0 0 50px;
    color: #51b9bc;
    font-size: 16px;
    text-align: left;
}

input[type='first'],
[type='last'] {
    width: 180px;
    height: 29px;
    margin-bottom: 10px;
    background-color: #d9dcdf;
    border: none;
    caret-color: rgb(6, 188, 248);
}

input[type='email'],
[type='phone'],
[type='city'],
[type='post-code'],
[type='address'] {
    width: 382px;
    height: 29px;
    margin-bottom: 10px;
    background-color: #d9dcdf;
    border: none;
    caret-color: rgb(6, 188, 248);
}

textarea {
    width: 382px;
    height: 80px;
    max-width: 382px;
    min-width: 300px;
    max-height: 180px;
    margin-bottom: 10px;
    background-color: #d9dcdf;
    border: none;
    caret-color: rgb(6, 188, 248);
}

input[type='radio']::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(255, 255, 255);
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #6b4b4b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(2, 2, 2, 0.769);
}

.choosePaymentMehod {
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(12, 11, 12);
}

.choosePaymentMehod>span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.innerDivPayment {
    display: flex;
    margin: auto;
    background-color: rgba(65, 194, 164, 0.509);
    width: 282px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;


    border: 1px solid rgb(199, 191, 191);
}

.innerDivPayment>label {
    width: 10%;
    margin: 0 auto;
    font-size: 15px;
}

.innerPaymentType {
    width: 30%;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}

.logoPayment {
    width: 60%;
}

.tick {
    opacity: 0.8;
    width: 23px;
    height: 23px;
}

.logoPayment>img {
    height: 80px;
}

.privaciPolicy {
    display: flex;
    align-items: center;
    margin: auto;
    width: 282px;
    height: 60px;
    margin-bottom: 10px;
}

.checkbox {
    width: 8.3%;
    height: 23px;
    margin: auto;
    background-color: rgba(174, 188, 185, 0.655);
    cursor: pointer;
}

.textPolicy {
    width: 90%;
    margin: auto;
    font-size: 11px;
    font-weight: 600;
}

.buttonsNextBack {
    display: flex;
    width: 100%;
    height: 50px;
}

.next {
    width: 50%;
    display: flex;
    margin: auto;
    margin-left: 10px;
    justify-content: space-between;
}

/* Next Button */
.bottomButtons {
    display: flex;
    margin-bottom: 10px;
}

.nextStep {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.nextButton {
    width: 120px;
    height: 30px;
    background-color: rgba(17, 162, 104, 0.836);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.nextButton:hover {
    background-color: rgb(13, 135, 86);
}

.tooltiMessage {
    display: flex;
    font-size: 12px;
    transition: 0.3s;
}

.nextButtonDisabled {
    width: 120px;
    height: 30px;
    background-color: rgba(58, 66, 63, 0.836);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: no-drop;
}

/* Next Button */

.back {
    width: 50%;
    display: flex;
    margin: auto;
    margin-right: 10px;
    justify-content: end;
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 100%;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container .innerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #F2F3F5;
        text-align: center;
        border-radius: 0px;
    }

    .container .innerContainer .dataContainer {
        width: 100%;
        border: none;
        margin-bottom: 0px;
    }

    .container .innerContainer .dataContainer .formTopField {
        width: 100%;
    }

    .container .innerContainer .firstAndLastName {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .container .innerContainer .innerDivDataOrder {
        width: 90%;
    }

    input[type='first'],
    [type='last'],
    input[type='email'],
    [type='phone'],
    [type='city'],
    [type='post-code'],
    [type='address'] {
        width: 350px;
        height: 29px;
        margin-bottom: 10px;
        background-color: #d9dcdf;
        border: none;
        caret-color: rgb(6, 188, 248);
    }

    .container .innerContainer textarea {
        width: 350px;
    }

}