.container {
    width: 100%;
    background-color: rgba(107, 208, 231, 0.313);
    ;
}

.innerContainer {
    width: 70%;
    margin: auto;
}

.headerOrder {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}

.dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 320px;
    width: 516px;

    color: rgb(2, 2, 2);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 10px; */

    border: solid;
}

.innerDivDataOrder {
    margin: auto;

    width: 170px;
    flex: 0 0 50px;
    /* margin: 5px; */
    /* background-color: green; */
}